.products.section {
    @media screen and (min-width: $mid) {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 2rem;

        .filters {
            margin-top: 2.5rem;
        }

        .products-container {
            position: relative;
        }

        .filter-error {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            text-align: center;
        }
    }
}

.filters-container {
    h4 {
        margin-bottom: 0.5rem;
    }
}

.search-form,
.companies {
    margin-bottom: 1.5rem;
}

.search-input {
    border: none;
    padding: 0.5rem 1rem;
    background: $clr-grey-3;
    text-transform: capitalize;
    color: $clr-black;

    &::placeholder {
        color: $clr-grey-0;
    }
}

input[type="range"] {
    @include cursor;
}
