// Hero
.hero {
    background: linear-gradient(
            rgba($color: #000000, $alpha: 0.4),
            rgba($color: #000000, $alpha: 0.4)
        ),
        url("./img/main-bg.jpg") center/cover no-repeat;
    height: 100vh;
    display: grid;
    align-items: center;

    h1,
    h3 {
        text-transform: capitalize;
        color: $clr-white;
    }
}
