// =============
// Pages
// =============
.page {
    color: $clr-accent-1;
    position: static;

    .navbar-cart-btn,
    .navbar-toggle-btn {
        color: $clr-accent-1;
    }

    .navbar-cart-amount {
        color: $clr-white;
    }

    .navbar-link {
        color: $clr-accent-1;
    }
}

.page-header {
    // margin-top: 2rem;
    width: 100%;
    height: 16rem;
    background: $clr-accent-4;
    display: flex;
    align-items: center;

    .page-header-title {
        color: $clr-accent-3;
        font-weight: bold;
    }
}
