// Sidebar
.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba($color: #000000, $alpha: 0.6);
    display: grid;
    place-items: center;
    opacity: 0;
    visibility: hidden;
    @include transition;
    z-index: 1;
}

.sidebar {
    width: 90vw;
    height: 95vh;
    background: $clr-white;
    padding: 2.5rem 1.75rem;
    position: relative;
}

.sidebar-links {
    margin-top: 2.5rem;
}

.sidebar-link {
    font-size: 1.2rem;
    line-height: 2;
    color: $clr-grey-0;

    .fas {
        margin-right: 1rem;
    }
}
