%btn {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    background: $clr-accent;
    color: $clr-white;
    border: 2px solid $clr-accent;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: $spacing;
    cursor: pointer;
    transition: $transition;

    &:hover {
        background: transparent;
        border-color: $clr-accent;
        color: $clr-accent;
    }
}

%close-btn {
    background: none;
    border: none;
    color: $clr-grey;
    font-size: 1.5rem;
    position: absolute;

    @include icon-hover;
}

button {
    cursor: pointer;
}

// Hero
.hero-btn {
    @extend %btn;
    background: transparent;
    border-color: $clr-white;
    margin-top: 3rem;

    &:hover {
        background: $clr-white;
        color: $clr-accent;
        border-color: $clr-white;
    }
}

// Sidebar
.sidebar-close-btn {
    @extend %close-btn;
    right: 2rem;
    top: 2rem;
}

// Cart
.close-btn-cart {
    @extend %close-btn;
    top: 2rem;
    left: 2rem;
}

.checkout-btn-cart {
    @extend %btn;
    margin: 2rem auto 3rem;
}
