button {
    cursor: pointer;
}

%btn {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    background: $clr-accent;
    color: $clr-white;
    border: 2px solid $clr-accent;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: $spacing;
    cursor: pointer;
    transition: $transition;

    &:hover {
        background: transparent;
        border-color: $clr-accent;
        color: $clr-accent;
    }
}

%close-btn {
    background: none;
    border: none;
    color: $clr-grey;
    font-size: 1.5rem;

    @include icon-hover;
}

// Hero
.hero-btn {
    @extend %btn;
    background: transparent;
    border-color: $clr-white;
    margin-top: 3rem;

    &:hover {
        background: $clr-white;
        color: $clr-accent;
        border-color: $clr-white;
    }
}

// Sidebar
.sidebar-close-btn {
    @extend %close-btn;
}

// Cart
.close-btn-cart {
    @extend %close-btn;
    margin-right: auto;
}

.checkout-btn-cart {
    @extend %btn;
    margin: 2rem auto 0;
}

// Featured
.product-details-btn,
.product-to-cart-btn {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin: 0 0.5rem;
    background: $clr-accent-1;
    border: none;
    border-radius: 50%;
    color: $clr-white;
    font-size: 1.2rem;
    display: grid;
    place-items: center;
    @include transition;

    &:hover {
        background: $clr-accent-3;
        color: $clr-white;
    }
}

.featured-btn {
    @extend %btn;
}

// filters
.company-btn {
    margin-left: 0.5rem;
    margin-bottom: 0.25rem;
    color: $clr-grey-1;
    text-transform: capitalize;
    @include cursor;
    @include transition;

    &:hover {
        color: $clr-accent-3;
    }
}

// single product
.single-product-add-to-cart-btn {
    @extend %btn;
}
