.visible-opacity {
    opacity: 1;
    visibility: visible;
}

.visible-translate {
    transform: translateX(0%);
    visibility: visible;
}

.loading {
    text-transform: capitalize;
    font-size: 2.5rem;
    text-align: center;
    margin: 3rem 0;
    display: none;
}

.page-loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: $clr-white;
    display: grid;
    place-items: center;
    text-transform: capitalize;
    font-size: 2.5rem;
}
